header {
  margin-top: 10px;
  height: 50px;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: #999999;
}

a:hover {
  color: #000;
}

nav {
  display: flex;
}

.banana {
  top: 10px;
  left: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  outline: none;
  background: url('../../assets/happy-banana.png');
  background-size: auto 100%;
}

.banana:hover {
  background: url('../../assets/half-banana.png');
  background-size: auto 100%;
}
